@import "tailwindcss";


@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

/* primary #1f1e24
secondary #6556cd */

/* Scrollbar */

::-webkit-scrollbar{
    width: 8px;
    height: 7px;
    border-radius: 10px;
    background-color: #a2a1a3;
}
::-webkit-scrollbar-thumb{
    background: #161617;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#6556cd ;
    transition-duration: 0.5s;
}

/* DropDown Menu */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none !important;
    box-shadow: none;
    border: none !important;
    background: #18181B;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #c1bdbd;
    cursor: pointer;
    font-size: .9em;
    font-family: "Open Sans", sans-serif;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 2.5em;
    line-height: 2.5;
    background: #18181B;
    overflow: hidden;
    border-radius: 0.25em;
    border: none;
    outline: none;
  }
  
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #18181B;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }

  .select:hover::after{
    color: #6556cd;
  }